/*

Robert Warren
Term 1306
Advanced Scalable Data Infrastructures (ASD)
Quality Experiences

Github: https://github.com/grindnmosh/Warren_Robert_ASD_1306.git
URL: http://grind-design.com (page for new app coming soon... will be moving 1st app to a sub domain...)

*/
body {
	margin: auto;
	font-family: Arial, Helvetica, san-seriff;
	width: 545px;
	padding: 10px; 
}
h2 { 
	text-align: center;
}
h3 { 
	text-align: center;
}
p {
	text-align: left;
}
#quality {
	width: 275px;
	align: center;
}
#brand {
	width: 175px;
	text-align: left;
	margin: 0 20px;
}
.input {
	padding:6px;
	width:315px;
	border: 1px solid black;
}
.highlight {
	background-color: white;
	border: 4px solid blue;
}
.accordion dd {
	display:none;
}
dd {
	margin: 0;
	padding: 1em 0;
	background: white;
	border: 1px solid black;
}
dt{
	cursor: pointer;
	font-family: serif;
	color: white;
	font-style: normal;
	text-shadow: black;
	text-decoration: inherit;
	text-rendering: inherit;
	font-size: 1em;
	background: blue;
	border-bottom: light blue;
	border-top: light grey; 
}
dt:first-child {
	border-top: none;
}
dt:nth-last-child(2) {
	border-bottom: none;
}